@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .showAnimation {
        animation: scroll-down 0.8s ease-out;
        animation-fill-mode: both;
        transform: translateX(-100%);
    }
}

@keyframes scroll-down {
    from {
        opacity: 0;
        transform: translateX(-10%)
    }
    to {
        opacity: 100;
        transform: translateX(0)
    }
}